*{
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
  }


body section {
    background-color: lightblue;
    padding: 10px;
}

.lenguaje {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(57, 57, 156);
    padding: 10px;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

footer img {
    height: 50px;
    width: auto;
}